@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-gray-100;
		@apply min-h-screen;
	}
	::selection {
		@apply text-white bg-blue-600;
	}
}
pre {
	max-width: 100%;
	overflow: scroll;
}
.blog-body p {
	line-height: 2.5rem;
}

.blog-body h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.blog-body h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.laravel {
	background: #fb503b;
	color: white;
}
.react {
	background: #61dbfb;
	color: white;
}
.tailwind {
	background: #06b6d4;
	color: white;
}
.mysql {
	background: #f29111;
	color: white;
}
.express {
	background: #97938e;
	color: white;
}
.mongodb {
	background: #3fa037;
	color: white;
}
.redux {
	background: #764abc;
	color: white;
}
.bootstrap {
	background: #0275d8;
	color: white;
}
